@model IEnumerable<DDShoeReps.Models.mvcEmployeeModel>

@{
    ViewBag.Title = "Index";
    @Styles.Render("~/Content/productIndex.css")
}


<div class="tbl">

    <div>
        <a href="@Url.Action("AdminDashboard","Home")" class="btn btn-primary" style="background-color:black">Back to Dashboard</a>
    </div>
    <div>
        <h2 class="productHeading">User List</h2>

    </div>

    <div style="margin: 20px;">
        <div style="float: left; margin-right: 20px;">
            <input type="text" id="searchInput" />
            <button id="searchButton" class="btn btn-primary">Search</button>
        </div>
        <div class="button" style="float: right; margin-left: 20px;">
            <p><a href="@Url.Action("AddOrEdit", "Employee")" class="btn btn-primary btn-lg">Add User </a></p>
        </div>
        <div style="clear: both;"></div>
    </div>



    <table class="table">
        <tr>
            <th>
                User ID
            </th>
            <th>
                Email
            </th>
            <th>
                User Name
            </th>
            <th>
                User Password
            </th>
            <th>
                User Type
            </th>
            @*<th>
                ID Number
            </th>*@
            @*<th>
                Contact Nubmer
            </th>*@
            @*<th>
                Address
            </th>*@
            
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @if (item.UserType == "Customer")
            {
                Console.WriteLine("****");
            }
            else
            {
                @Html.DisplayFor(modelItem => item.UserPassword)
            }
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.UserType)
        </td>

        @*<td>
            @Html.DisplayFor(modelItem => item.IDNumber)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.ContactNumber)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>*@
        
        <td>
            @if (item.UserType != "Customer")
            {
                <a href="@Url.Action("AddOrEdit", "Employee", new { id = item.UserID })" class="btn btn-default">Edit</a>
                <a onclick="Delete(@item.UserID)" class="btn btn-default">Delete</a>

            }
        </td>
    </tr>
        }
    </table>
</div>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);


            $("#searchButton").click(function () {
                handleSearch();
            });

            function handleSearch() {
                var searchTerm = $("#searchInput").val().toLowerCase();

                $("table tr:gt(0)").hide();

                $("table tr:gt(0)").filter(function () {
                    var userID = $(this).find("td:eq(0)").text().toLowerCase();
                    var userName = $(this).find("td:eq(2)").text().toLowerCase();
                    var userEmail = $(this).find("td:eq(1)").text().toLowerCase();
                    var userType = $(this).find("td:eq(4)").text().toLowerCase();

                    return userID.includes(searchTerm) ||
                        userName.includes(searchTerm) ||
                        userEmail.includes(searchTerm) ||
                        userType.includes(searchTerm);
                }).show();
            }

        });

        function Delete(id) {
            alertify.confirm('', 'Are You Sure to Delete this User ?', function () {
                window.location.href = '@Url.Action("Delete","Employee")/' + id;
            }, null);
        }
    </script>
}
